<div class="homepage-text">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>


</div>

{{!-- make it so you need to be logged in to add a recipe - redirect to please log in --}}
{{!--    <a href="/recipes">See Recipes</a>   --}}

{{!-- <form action="/food-search" method="get">
    <input type="text" name="foodSearch" id="" placeholder="Insert food here...">
    <button type="submit"> Find food! </button>
</form> --}}
