<link rel="stylesheet" href="/stylesheets/index.css">


<div class="container">
  <div class="homepage-text">
    <h1 class ="homepage-heading">{{title}}</h1>
    <p class="homepage-description">Browse through recipes and get inspired to cook, search for nutritional information so you always know exactly what you are eating, upload your own recipes! </p>
    <a href="/recipes" class="homepage-button">SEE RECIPES</a>
  </div>
</div>
{{!-- make it so you need to be logged in to add a recipe - redirect to please log in --}}



