<link rel="stylesheet" href="/stylesheets/index.css">


<div class="container">
  <div class="homepage-box">
    <h1 class ="homepage-heading">{{title}}</h1>
    <p class="homepage-description"> <i>Browse through recipes and get inspired to cook! <br> 
    Search for nutritional information so you always know exactly what you are eating. <br> 
    Upload your favourite recipes for others to try! </i> </p>
    <a href="/recipes" class="homepage-button">SEE RECIPES</a>
  </div>
</div>



