<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/food-search" method="get">
    <input type="text" name="foodSearch" id="" placeholder="Insert food here...">
    <button type="submit"> Find food! </button>
</form>