<link rel="stylesheet" href="/stylesheets/index.css">

<div class="container">
<div class="homepage-text">
  <h1>{{title}}</h1>
  <p>Browse through recipes, search nutritional information, upload your own recipes! </p>

  {{#if user}}
    Welcome {{user.username}}
    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  {{else}}
    <a href="/signup">Sign Up</a>
    <br>
    <a href="/login">Login</a>
    <br>
  {{/if}}

  



  <a href="/recipes">See Recipes</a>
  <br>
  <a href="/recipes/create">Add a recipe</a>
</div>
</div>
{{!-- make it so you need to be logged in to add a recipe - redirect to please log in --}}



