
    {{#if user}}
      <h2>Add a recipe</h2>  


    <form action="/recipes/create" method="POST" enctype="multipart/form-data">
        
        <div class="form-row row">            
            <div class="col-md-6 form-group ml-5 p-3">
                <label class="control-label">Title of Dish</label>
                <input class="custom-control-input" id="customControlAutosizing" type="text" name="name" required/>
            </div>

            <div class="col-md-6 mb-3 form-group p-3">    
                <label class="control-label">Cusine</label>
                <input class="custom-control-input" id="customControlAutosizing" type="text" name="cuisine"/>
            </div>    
        </div>
        
        <div class="form-row row">
            <div class="col-md-4 mb-3 form-group p-3 ml-4">
                <label class="control-label">Prep Time</label>
                <input class="custom-control-input" id="customControlAutosizing" type="text" name="prepTime" required/>
            </div>
        
            <div class="col-md-4 mb-3 form-group p-3">
                <label class="control-label"> Cook time</label>
                <input class="custom-control-input" id="customControlAutosizing" type="text" name="cookTime" required/>
            </div>

            <div class="col-md-4 mb-3 form-group p-3">
                <label class="control-label">Serves</label>
                <input class="custom-control-input" id="customControlAutosizing" type="number" name="serves" required/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group mb-3 p-3 ml-4">
                <label class="control-label">Ingredients (Please seperate each ingredient with a comma) </label>
                <br>
                <textarea name="ingredients" rows="5" cols="50" required></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group mb-3 p-3 ml-4">
                <label class="control-label">Instructions (Please seperate each instruction with a full stop)</label>
                <br>
                <textarea name="method" rows="5" cols="50" required></textarea>
            </div>
        </div>

        <div class="form-check col-md-3 mb-3">
            <label class="control-label">Suitable for:</label>
            <br>    
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineCheckbox1">Vegetarian</label>
                    <input class="form-check-input" id="defaultCheck1" type="checkbox" name="suitable" value="Vegetarian">
                </div>
                
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineCheckbox1">Vegan</label>
                    <input class="form-check-input" id="defaultCheck1" type="checkbox" name="suitable" value="Vegan">
                </div>

                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineCheckbox1">Lactose Free</label>
                    <input class="form-check-input" id="defaultCheck1" type="checkbox" name="suitable" value="Lactose Free">
                </div>
                
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineCheckbox1">Gluten Free</label>
                    <input class="form-check-input" id="defaultCheck1" type="checkbox" name="suitable" value="Gluten Free">
                </div>
        </div>  

        <div class="form-check col-md-3 mb-3">
            <label class="control-label">Allergy Information:</label>
            <br>

            <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox1">Nuts</label>
                <input class="form-check-input" id="defaultCheck1" type="checkbox" name="allergy" value="Nuts">
            </div>   

            <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox1">Seafood</label>
                <input class="form-check-input" id="defaultCheck1" type="checkbox" name="allergy" value="Seafood">
            </div>     
        </div>      

        <div class="custom-file p-3">
            <input class="custom-file-input" id="customFile" type="file" name="image"/>
        </div>

        <div class="form-group p-3">
            <button class="btn btn-success" type="submit">Add</button>  
        </div>
    </form>
   
    {{/if}}


