body {
  background-image: url('../images/food-homepage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage-text {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 15%;

}

.homepage-text h1 {
  font-size: 50px;
  margin-bottom: 5%;
}

.homepage-button{
  border: solid 1.5px orange;
  font-size: 20px;
  padding: 10px 25px;
  color: white;
  margin-left:40%;
  margin-right:40%;
}