body {
  background-image: url('../images/food-homepage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage-text {
  text-align: center;
  border: solid white;
  width: 30%;
  margin-left: 30%;;
  margin-top: 20%;
}