body {
  background-image: url('../images/maybe5-rotatedbottom.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.col-md-12{
  text-align: center;
  color: white;
  margin-top: 5%;

}

.view-review{
  color:black;
  font-size: 20px;
  font-weight: lighter;
}

.username{
  color: tomato;
  font-weight: bold;
}
