body {
  background-image: url('../images/heart-food.jpg');
  background-repeat: repeat;
  background-size: 100%;
}

h2 {
  margin-top: 3%;
  text-align: center;
  margin-bottom: 2%;
  text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}

h3 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.div-page {
  margin-left: 5%;
}

img {
  width: 50%;
  height: 60%;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
  color: whitesmoke;
  padding-right: 2%;
}

button {
  border-radius: 15%;
}

button > a {
  color: whitesmoke;
}

.buttons {
  display: inline-flex;
  justify-content: space-between;
  transition-duration: 0.4s;
}

button:hover{
  background-color: whitesmoke;
  padding: 10px 15px;
}

button > a:hover {
  color: whitesmoke;
}
