<link rel="stylesheet" href="/stylesheets/recipes-create.css">
{{#if user}}
    <h2>Add a recipe</h2>  


    <form class="form-page" action="/recipes/create" method="POST" enctype="multipart/form-data">
        
        <div class="form-row row">            
            <div class="col-md-6 form-group ml-5 p-3">
                <label><b>Title of Dish</b></label>
                <input class="custom-control-input" id="customControlAutosizing" type="text" name="name" required/>
            </div>

            <div class="col-md-6 mb-3 form-group p-3">    
                <label><b>Cusine</b></label>
                <input class="custom-control-input" id="customControlAutosizing" type="text" name="cuisine"/>
            </div>    
        </div>
        
        <div class="form-row row">
            <div class="col-md-4 mb-3 form-group p-3 ml-4">
                <label><b>Prep Time</b></label>
                <input class="custom-control-input" id="customControlAutosizing" type="text" name="prepTime" required/>
            </div>
        
            <div class="col-md-4 mb-3 form-group p-3">
                <label><b>Cook Time</b></label>
                <input class="custom-control-input" id="customControlAutosizing" type="text" name="cookTime" required/>
            </div>

            <div class="col-md-4 mb-3 form-group p-3">
                <label><b>Serves</b></label>
                <input class="custom-control-input" id="customControlAutosizing" type="number" name="serves" required/>
            </div>
        </div>

        <div class="form-row row">
            <div class="form-group mb-3 p-3 ml-4 col-md-6">
                <label class="control-label"><b>Ingredients</b></label>
                <p>Please separate each ingredient with a comma</p>
                <textarea name="ingredients" rows="8" cols="75" required></textarea>
            </div>

            <div class="form-group mb-3 p-3 ml-4 col-md-6">
                <label class="control-label"><b>Instructions</b></label>
                <p>Please separate each instruction with a full stop</p>
                <textarea name="method" rows="8" cols="75" required></textarea>
            </div>
        </div>

        <div class="form-check col-md-3 mb-3">
            <label class="control-label"><b>Suitable for:</b></label>
            <br>    
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineCheckbox1">Vegetarian</label>
                    <input class="form-check-input" id="defaultCheck1" type="checkbox" name="suitable" value="Vegetarian">
                </div>
                
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineCheckbox1">Vegan</label>
                    <input class="form-check-input" id="defaultCheck1" type="checkbox" name="suitable" value="Vegan">
                </div>

                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineCheckbox1">Lactose Free</label>
                    <input class="form-check-input" id="defaultCheck1" type="checkbox" name="suitable" value="Lactose Free">
                </div>
                
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineCheckbox1">Gluten Free</label>
                    <input class="form-check-input" id="defaultCheck1" type="checkbox" name="suitable" value="Gluten Free">
                </div>
        </div>  

        <div class="form-check col-md-3 mb-3">
            <label class="control-label"><b>Allergy Information:</b></label>
            <br>

            <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox1">Nuts</label>
                <input class="form-check-input" id="defaultCheck1" type="checkbox" name="allergy" value="Nuts">
            </div>   

            <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox1">Seafood</label>
                <input class="form-check-input" id="defaultCheck1" type="checkbox" name="allergy" value="Seafood">
            </div>     
        </div>      

        <div class="custom-file p-3">
            <label class="control-label"><b>Upload image</b></label>
            <br>
            <input class="custom-file-input" id="customFile" type="file" name="image"/>
        </div>

        <div class="button-add">
            <button class="btn btn-success" type="submit">Add recipe</button>  
        </div>
    </form>
   
{{/if}}
<br>